html,
body {
	height: 100%;
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.container input[type = "text"], .container input[type = "number"] {
    border: 0;
    background: none;
    display: block;
    outline: none;
    color: white;
}

.container button[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.container button[type = "submit"]:hover {
    background: #2ecc71;
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th, td {
	padding: 5px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead th {
	background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255,255,255,0.3);
}

tbody td {
    position: relative;
}

tbody td:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
}