<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Market List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Market List</h1>
    <br/><br/>
    <div>
        <form action="#" th:action="@{/}" method="post">
            <table border="1">
                <tr>
                    <th>Item</th>
                    <th>Price (£)</th>
                    <th>Quantity</th>
                </tr>
                <tr th:each ="item : ${items.entrySet()}">
                    <td id="name" th:utext="${item.key}">...</td>
                    <td id="price" th:utext="${item.value}">...</td>
                    <td><input type="number" id="quantity" min="0"></td>
                </tr>
            </table>
            <br><br/>
            <div>
                <button type="submit" id="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>