<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Market List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Market List</h1>
    <br/><br/>
    <div>
        <form action="#" th:action="@{/}" th:object="${wrapper}" method="post">
            <table border="1">
                <tr>
                    <th>Item</th>
                    <th>Price (£)</th>
                    <th>Quantity</th>
                </tr>
                <tr th:each ="item, itemStat : ${wrapper.fruitList}">
                    <td><input id="name" th:name="|fruitList[${itemStat.index}].name|" th:value="${item.getName()}" readonly/></td>
                    <td><input id="price" th:name="|fruitList[${itemStat.index}].price|" th:value="${item.getPrice()}" readonly/></td>
                    <td><input type="number" id="quantity" th:name="|fruitList[${itemStat.index}].quantity|" th:value="${item.getQuantity()}" min="0"/></td>
                </tr>
            </table>
            <br><br/>
            <div>
                <button type="submit" id="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>